<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Styles -->
    <link rel="stylesheet" href="../css/index.css">
    <title>javierSolanoP</title>
</head>
<body id="body">
    <header>
        <nav id="nav">
            <ul>
                <li>
                    <a href="#">Inicio</a>
                </li>
                <li>
                    <a href="#projects">Mis proyectos</a>
                </li>
                <li>
                    <a href="#contact">Contacto</a>
                </li>
            </ul>
        </nav>
        <div class="container">
            <div class="container-title">
                <h1>Hola, Soy</h1>
                <h2>Desarrollador Web!</h2>
            </div>
            <div class="container-description">
                <strong>Te invito a dar un vistazo a mi portafolio, estoy seguro que te encantara.</strong>
            </div>
            <div class="container-img">
                <img src="../resources/developer.svg" alt="developer">
            </div>
            <div class="animation"></div>
        </div>
    </header>
    <article id="projects">
        <!-- <div class="container"></div> -->
    </article>
    <footer id="contact">

    </footer>

    <!-- Script -->
    <script src="../js/index.js" type="module"></script>
</body>
</html>